    <!DOCTYPE html>
<html>
<head>
  <title>FunPlayHK</title>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="nav">
    <div id="wrapper">
      <ul>
        <a href="/users/edit"><li>Profile</li></a>

        <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>

        <a href="/contact"><li>Contact</li></a>

        <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>

        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>

        <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>

        </ul>
      <div id="logo">
        <a href="/"><h1>Fun/Play-HK</h1></a>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <a href="/activities/new"><img src="/assets/plus.png" class="plus"></a>
  </div>
  <div>

  <div id="activites_list">
   <ul>
    <a href="/"><li>Arcade</li></a>

    <li><HR WIDTH="60%"></li>




  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <% if notice %>
        <div class="alert alert-success" role="alert">
           <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger" role="alert">
           <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
  <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" %>
  <%= javascript_include_tag 'application' %>
</body>
</html>