    <!DOCTYPE html>
<html>
<head>
  <title>FunPlayHK</title>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="nav">
    <div id="wrapper">
      <ul>
        <a href="/users/edit"><li>Profile</li></a>

        <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>

        <a href="/contact"><li>Contact</li></a>

        <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>

        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>

        <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>

        </ul>
      <div id="logo">
        <a href="/"><h1>Fun/Play-HK</h1></a>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div id="add_link">
      <a href="/activities/new"><img src="/assets/plus.png" class="plus"><--- Don't be sad... Click to Add!</a>
    </div>
  </div>

  <div>
    <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <% if notice %>
        <div class="alert alert-success" role="alert">
           <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger" role="alert">
           <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= alert %>
        </div>
      <% end %>


    </div>
  </div>


  <div class="row">
    <div >
      <div id="activities_list" class="col-md-2">
       <ul>
        <a data-category="Arcade" href="#"><li>Arcade</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a data-category="Archery" href="#"><li>Archery</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a data-category="Beer-Pong" href="/"><li>Beer-Pong</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a data-category="Billiards" href="/"><li>Billiards</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a data-category="Boules" href="/"><li>Boules</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a data-category="Bowling" href="/"><li>Bowling</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a href="/"><li>Darts</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a href="/"><li>Driving Simulator</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a href="/"><li>Habour Cruise</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a href="/"><li>Ice-Skating</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a href="/"><li>Indoor Baseball</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a href="/"><li>Indoor Ski/Snowboard</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a href="/"><li>Surfing</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />

        <a href="/"><li>Wakeboarding</li></a>
        <hr style="height:2px;width:75%;border:none;color:#333;background-color:#333;" />
      </ul>
    </div>




  <div class="col-md-10">
    <%= yield %>
  </div>

  </div>
</div>


  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
  <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" %>
  <%= javascript_include_tag 'application' %>
</body>
</html>